.border {
    border: solid 1px #485353;
    border-radius: 12px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.badge {
    background-color: #3d6d6d;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 12px;
}

img {
    background: #dedede !important;
    border: solid 4px black;
    border-radius: 16px;
}


